.custom-button {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  min-width: 10rem;
  transition: all 0.3s ease 0s;
  font-size: 1.5rem;
  line-height: 1.5rem;

  &.primary {
    background: $purple;
    color: #fff;

    &:hover {
      background: $purple-dark;
    }
  }

  &.secondary {
    background: #fff;
    color: $purple;
    border: 0.01rem solid $purple;

    &:hover {
      background: $purple;
      color: #fff;
    }
  }
}
