.notification {
  margin: 2.5rem;
}

.notification-danger {
  color: red;
}

.notification-primary {
  color: blue;
}

.notification-success {
  color: green;
}

.notification-warning {
  color: yellow;
}
