.notification {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.notification-danger {
  color: $danger;
}

.notification-primary {
  color: $purple;
}

.notification-success {
  color: $success;
}

.notification-warning {
  color: $warning;
}
