.modal-shade {
  height: 100%;
  width: 100%;
  background-color: rgba(119, 136, 153, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-content-container {
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  width: 100%;
  max-width: 45rem;
  min-height: 30rem;
  padding: 5rem;
  margin: 1.5rem;
  border: 0.2rem solid $purple-dark;

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
  }
}
