.hero-block {
  width: 100%;
  max-width: 45rem;
  height: 50rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $padding-small;
  letter-spacing: 0.1rem;

  .headline {
    margin-top: 0;
  }

  .subheading {
    margin: 3rem 0;
  }
}

.homepage {
  background-image: url("https://res.cloudinary.com/dblakenzcloud/image/upload/v1604367669/airwallex/homepage-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
